<div class="request-container">
  <table class="table request-table">
    <thead>
      <tr>
        <th>Leave Status</th>
        <th>Start Date</th>
        <th>End Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of requests">
        <td>{{ item.leaveStatus }}</td>
        <td>{{ item.startDate }}</td>
        <td>{{ item.endDate }}</td>
      </tr>
    </tbody>
  </table>
</div>




  <form (ngSubmit)="onSubmit()" #requestForm="ngForm">
    <div class="form-group">
      <label for="leaveStatus">Leave Status:</label>
      <input type="text" id="leaveStatus" name="leaveStatus" [(ngModel)]="newRequest.leaveStatus" required>
    </div>
    <div class="form-group">
      <label for="userID">User ID:</label>
      <input type="text" id="userID" name="userID" [(ngModel)]="newRequest.userID" required>
    </div>
    <div class="form-group">
      <label for="leaveTypeID">Leave Type ID:</label>
      <input type="text" id="leaveTypeID" name="leaveTypeID" [(ngModel)]="newRequest.leaveTypeID" required>
    </div>
    <div class="form-group">
      <label for="startDate">Start Date:</label>
      <input type="datetime-local" id="startDate" name="startDate" [(ngModel)]="newRequest.startDate" required>
    </div>
    <div class="form-group">
      <label for="endDate">End Date:</label>
      <input type="datetime-local" id="endDate" name="endDate" [(ngModel)]="newRequest.endDate" required>
      <button type="submit" class="btn btn-primary">Apply for leave</button>
    </div>
    
  </form>
