/* General Styles */
.form-container,
.welcome-container {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f5f5f5;
}

.form-container {
  width: 35%;
  height: 30em;
  box-shadow: 1px 1px 1px 1px gray;
}

.welcome-container {
  text-align: center;
}

.welcome-heading {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.request-info {
  font-size: 16px;
  margin-top: 20px;
}

.request-count,
.request-container h2 {
  font-weight: bold;
  margin: 0 5px;
}

.styled-hr {
  border: none;
  border-top: 2px solid #333;
  margin-top: 20px;
}

/* Form Styles */
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 1px 1px 1px 1px gray;
}

  .form-container h2 {
    margin-top: 0.5em;
  }

label {
  font-weight: bold;
  margin: 10px 0;
}

input[type="text"],
input[type="datetime-local"],
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f5f5f5;
  color: #333;
  font-size: 16px;
}

.form-position {
  display: flex;
  justify-content: center;
}

button[type="submit"] {
  display: block;
  margin: 0 auto;
}

/* Table Styles */
.table-container {
  margin: 20px;
}

.table-title {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

.request-table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ccc;
}

  .request-table th,
  .request-table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
  }

  .request-table th {
    background-color: #0d6efd;
    color: #fff;
  }

/* Request List Styles */
.request-list {
  display: flex;
  flex-direction: row;
}

.request-container {
  margin-right: 2em;
}

/* Total balance style*/
.days-left-position {
  text-align: center;
  padding: 10px;
  display:flex;
  justify-content:space-around;
}

.count-days-container {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  background-color: #f8f8f8;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  width:50%;
}

.leave-balance-title {
  font-size: 18px;
  font-weight: bold;
}

.leave-balance-list {
  list-style: none;
  padding: 0;
}

.leave-balance-item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  padding: 5px 0;
}

.leave-type {
  font-weight: bold;
}

.days-left {
  font-weight: bold;
}
