<div class="welcome-container">
  <h1 class="welcome-heading">Welcome, <span class="bold-text">{{ userName }}</span></h1>
  <p class="request-info">
    You have <span class="request-count pending-requests">{{ pendingRequests }}</span> pending leave requests,
    <span class="request-count approved-requests">{{ approvedRequests }}</span> approved leave requests,
    and <span class="request-count declined-requests">{{ declinedRequests }}</span> declined leave requests.
  </p>
</div>

<hr class="styled-hr">
<div *ngIf="userLeaveBalanceData && userLeaveBalanceData.length > 0">
  <div class="days-left-position">
    <div class="count-days-container">
      <p class="leave-balance-title">Leave Balance:</p>
      <ul class="leave-balance-list">
        <li *ngFor="let userLeaveBalance of userLeaveBalanceData" class="leave-balance-item">
          <p class="leave-type">{{ userLeaveBalance.leaveTypeName }}:</p>
          <p class="days-left">{{ userLeaveBalance.daysLeft }}</p>
        </li>
      </ul>
    </div>
  </div>
</div>
<hr />

<button (click)="toggleForm()" class="btn btn-primary" style="margin:2em;">Apply for leave</button>

<div class="form-position">
  <div class="form-container" *ngIf="showForm">
    {{errorMessage}}
    <h2>Apply for leave</h2>
    <form (ngSubmit)="onSubmit()" #requestForm="ngForm">
      <div>
        <label for="leaveTypeID">Leave Type:</label>
        <select id="leaveTypeID" name="leaveTypeID" [(ngModel)]="newRequest.leaveTypeID" required>
          <option *ngFor="let type of leaveTypes" [value]="type.leaveTypeID">{{ type.name }}</option>
        </select>
      </div>
      <div>
        <label for="startDate">Start Date:</label>
        <input type="datetime-local" id="startDate" name="startDate" [(ngModel)]="newRequest.startDate" required>
      </div>
      <div>
        <label for="endDate">End Date:</label>
        <input type="datetime-local" id="endDate" name="endDate" [(ngModel)]="newRequest.endDate" required>
      </div>
      <div>
        <button type="submit" class="btn btn-primary">Send</button>
      </div>
    </form>
  </div>
</div>


<div class="table-container">
  <h2 class="table-title">Current Leave Requests</h2>
  <div class="request-container">
    <table class="table request-table">
      <thead>
        <tr>
          <th>Leave Type</th>
          <th>Leave Status</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of requests" class="table-row">
          <td>{{ getLeaveTypeName(item.leaveTypeID) }}</td>
          <td>{{ item.leaveStatus }}</td>
          <td>{{ item.startDate.split('T')[0] }}</td>
          <td>{{ item.endDate.split('T')[0] }}</td>
          <td>
            <button (click)="deleteRequest(item.requestID)" class="btn btn-danger">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
