<div class="d-flex flex-row d-none d-md-block p-2">
    <h3 class="list-inline-item font-weight-bold"><a href="/">Home</a></h3>
    <h3 class="list-inline-item"><a href="/login">Login</a></h3>
</div>


<div ngbDropdown class="d-md-none dropdown d-flex flex-row-reverse p-2">
  <button ngbDropdownToggle class="btn btn-primary" type="button" id="dropdownMenuButton1" aria-expanded="false">
    Menu
  </button>
  <ul ngbDropdownMenu aria-labelledby="dropdownMenuButton1">
    <li><a ngbDropdownItem href="/">Home</a></li>
    <li><a ngbDropdownItem href="/login">Login</a></li>
  </ul>
</div>
