<header>
</header>


<body>
  <div class="form-container">
    <div class="form-group">
      <form class="login-form" (ngSubmit) ="Login()">
        <h1>Login</h1>
        <div class="input-group">
          <input type="text" name="email" [(ngModel)]="logInDTO.email" placeholder="Email" />
          <input type="password" name="password" [(ngModel)]="logInDTO.password"placeholder="Password" />
        </div>
        <button type="submit">Enter</button>
      </form>
    </div>
  </div>
</body>
